.msg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.msg {
  text-align: center;
}
.msg.info {
  color: yellow;
}
.msg.error {
  color: darkred;
}
.msg.success {
  color: green;
}
